/* 
    Created on : 07/10/2017
    Author     : Quazi Tausif Ahmed
*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('/Public/Image/Welcome/back.jpg') no-repeat 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content{
    margin: 0 auto;
    text-align: center;
}

.content h1{
    font-family: 'Raleway', sans-serif;
    color: #f9f3f4;
    text-shadow: -2px 0 #ff6666, 0 2px #ff6666, 2px 0 #ff6666, 0 -2px #ff6666;
    font-size: 500%;
}

.btn{
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: tomato;
    font-size: 135%;
    padding: 10px 20px;
    border: solid tomato 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover{
    color: #FFF;
    border: solid #FFF 3px;
}

@media screen and (max-width:760px){
    .content h1{
        font-size: 250%;
    }

    .btn{
        font-size: 110%;
        padding: 7px 15px;
    }
}
