/* 
    Created on : 09/10/2017
    Author     : Quazi Tausif Ahmed
*/

body {
    background-color: #f1f1f1;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
}
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
}
input[type=submit]:hover{
    opacity: 0.80;
    color: black;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.modal {
    background-color: #fefefe;
    margin: auto;
    width: 50%;
}
div.inputs{
    font-size: 17px;
    padding: 10px;
}
@media screen and (max-width: 740px){
    .modal{
        width: 100%;
    }
}