.body-login-signup{
    background: #ff4931;
    transition: all .5s;
	padding: 1px;
	border: 3px solid #ccc;
}

.login-sigup-container{
	width: 70%;
	margin: 100px auto;
	background: rgba(255,255,255,.5);
	min-height: 400px;
	display:table;
	position: relative;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.login-sigup-container > div {
    display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}

.login-sigup-container button{
	background: transparent;
	background-image: linear-gradient(90deg, #292c2f, #ff4931);
	display: inline-block;
	padding: 10px 30px;
	border: 3px solid #fff;
	border-radius: 50px;
	background-clip: padding-box;
	position: relative;
	color: #FFF;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	transition: all .25s;
}

.login-sigup-container button.dark{
	border-color: #ff4931;
	background: #ff4931;
}

.login-sigup-container .move button.dark{
	border-color: #292c2f;
	background: #292c2f;
}

.login-sigup-container .splits p{
	font-size: 18px;
}

.login-sigup-container button:active{
	box-shadow: none;			
}

.login-sigup-container button:focus{
	outline: none;			
}

.login-sigup-container > .wrapper {
	position: absolute;
	width: 40%;
	height: 120%;
	top: -10%;
	left: 5%;
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	transition: all .5s;
	color: #303030;
	overflow: hidden;
}

.login-sigup-container .wrapper > div{
	padding: 15px 30px 30px;
	width: 100%;
	transition: all .5s;
	background: #fff;
	width: 100%; 
}

.login-sigup-container .wrapper #login{
	padding-top: 20%;
}

.login-sigup-container .wrapper #register{
	transform: translateY(-80%) translateX(100%);
}

.login-sigup-container .wrapper.move #register{
	transform: translateY(-80%) translateX(0%);
}

.login-sigup-container .wrapper.move #login{
	transform: translateX(-100%);
}

.login-sigup-container .wrapper > div> form > div {
	position: relative;
	margin-bottom: 15px;
}

.login-sigup-container .wrapper label{
	position: absolute;
	top: -7px;
	font-size: 12px;
	white-space: nowrap;
	background: #fff;
	text-align: left;
	left: 15px;
	padding: 0 5px;
	color: #999;
	pointer-events: none;
}

.login-sigup-container .wrapper h3{
	margin-bottom: 25px;
}

.login-sigup-container .wrapper input{
	height: 40px;
	padding: 5px 15px;
	width: 100%;
	border: solid 1px #999;
}

.login-sigup-container .wrapper input:focus{
	outline: none;
	border-color: #ff4931;
}

.login-sigup-container > .wrapper.move{
	left: 45%;
}

.login-sigup-container > .wrapper.move input:focus{
	border-color: #292c2f;
}

@media (max-width: 767px){
	.login-sigup-container{
		padding: 5px;
		margin: 0;
		width: 100%;
		display: block;
    }
    
	.login-sigup-container > .wrapper{
		position: relative;
		height: auto;
		top: 0;
		left: 0;
		width: 100%;
    }
    
	.login-sigup-container > div{
		display: inline-block;
    }
    
	.splits{
		width: 50%;
		background: #fff;
		float: left;
    }
    
	.splits button{
		width: 100%;
		border-radius: 0;
		background: #505050; 
		border: 0;
		opacity: .7;
    }
    
	.splits button.active{
		opacity: 1;
    }
    
	.splits button.active{
		opacity: 1;
		background: #ff4931;
    }
    
	.splits.rgstr-btn button.active{
		background: #292c2f;
    }
    
	.splits p{
		display: none;
    }
    
	.login-sigup-container > .wrapper.move{
		left: 0%;
		}
}

.login-sigup-container input.login-sigup-btn{
	display: inline-block;
	padding: 10px 30px;
	border: 3px solid #fff;
	border-radius: 50px;
	background-clip: padding-box;
	position: relative;
	color: #FFF;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	transition: all .25s;
    border-color: #ff4931;
	background: #ff4931;
}

.login-sigup-container .move input.login-sigup-btn{
	border-color: #292c2f;
	background: #292c2f;
}

.login-sigup-container input.login-sigup-btn:active{
	box-shadow: none;			
}

.login-sigup-container input.login-sigup-btn:focus{
	outline: none;			
}